<article class="sub_block">
  {% if paragraph.field_base_img.0.value|length > 0 %}
    <div class="sub_block__img">
      <img
      src="{{ file_url(paragraph.field_base_img.entity.field_media_image.entity.fileuri | image_style('500x300')) }}"
      alt="{{ paragraph.field_base_img.entity.field_media_image.0.alt|raw }}" />
    </div>
  {% endif %}
  {% if paragraph.field_base_title.0.value|length > 0 %}
    <h4 class="sub_block__title">{{ paragraph.field_base_title.value|raw }}</h4>
  {% endif %}
  {% if paragraph.field_base_body.0.value|length > 0 %}
    {{ paragraph.field_base_body.value|raw }}
  {% endif %}
  {% if paragraph.field_base_link.0.value|length > 0 %}
    <div>
      <a class="btn" href="{{ paragraph.field_base_link.0.url }}">
        <span>{{ paragraph.field_base_link.title|raw }}</span>
      </a>
    </div>
  {% endif %}
</article>
