<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "@akw/elements/reset.html.twig" ignore missing %}
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Text&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,1,0&display=swap" rel="stylesheet">
  </head>
  {% set body_classes = [] %}
  {% if logged_in %}
    {% set body_classes = body_classes|merge(['log-in']) %}
  {% else %}
    {% set body_classes = body_classes|merge(['log-out']) %}
  {% endif %}
  {% if node_type %}
    {% set body_classes = body_classes|merge([node_type]) %}
  {% endif %}
  {% if entity_type %}
    {% set body_classes = body_classes|merge([entity_type]) %}
  {% endif %}
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main" class="visually-hidden focusable">
      {{ 'Skip to main content'|t }}
    </a>
    <a href="" class="home-skip"></a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>
